


        <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <img class="img logo rounded-circle mb-5" src="assets/images/Capture.PNG">
        <h3 class="userc">UserName</h3>

        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dashboard</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                  <a href="#"><i class="fa fa-home" id="fb"></i> &nbsp;Home</a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-bell" id="fb"></i> &nbsp; Notification</a>
              </li>
              <li>
                  <a href="#"><i class="fa fa-envelope" id="fb"></i> &nbsp; Inbox</a>
              </li>
            </ul>
          </li>
          <hr/>
          <li>
                <a class="nav-link" href="#" routerLink= "/table"><i class="fa fa-table" id="fb"></i> &nbsp; Table</a>
          </li>

          <li>
              <a class="nav-link" href="#" routerLink= "/card"><i class="fa fa-id-card" id="fb"></i> &nbsp; Cards</a>
          </li>
          <hr/>
          <li>
            <a href="#" >Contact</a>
          </li>
          <li>
            <a href="#">Statistiques</a>
          </li>
          <li>
            <a href="#">Settings</a>
          </li>
        </ul>



      </div>
    </nav>

      <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>

          <button class="btn btn-primary d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="#" routerLink= "/table"> Table</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="#" routerLink= "/card"> Cards</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


        <router-outlet></router-outlet>
    </div>
  </div>

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/popper.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/main.js"></script>
